:root {
  --globalBackground: #fff;
  --globalColorThemeFullToMid: #312e2b;
  --globalColorThemeHigh: #312e2b;
  --globalColorNeutral50: #f8f8f8;
  --globalColorThemeMid: #666564;
  --globalTertiaryBackground: #dad8d6;
  --globalColorHighlight: rgb(255, 255, 0);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--globalColorNeutral50);
  background: var(--globalColorThemeFullToMid);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
